node_modules/
.next/
out/
build/
.env
.env*.local
.DS_Store
*.tsbuildinfo
next-env.d.ts

scripts/serviceAccount.json

# backup ფაილები
*.bak

*.orig

# npm cache created by running as a service user
.npm/
